<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/base_style.css?v=1" />
    <link rel="stylesheet" href="styles/discog.css" />
    <link rel="stylesheet" href="styles/gigog.css?v=3" />
    <link rel="stylesheet" href="styles/blog.css" />

    <script src="lib/htmx.min.js"></script>
    <script src="js/getGetParams.js" defer></script>

    <title>Nigel Powell - The Sad Song Co.</title>
  </head>
  <body>
    <header>
      <img src="assets/web/graphics/nameLogo.png" alt="logo of The Sad Song Co." />
    </header>
    <main>
      <section class="tabContainer">
        <nav class="tabSelectors">
          <div class="tabSelector activeTab" id="discogTab" data-tab="discog" onclick="showTab(event)">Discography</div>
          <div class="tabSelector inactiveTab" id="gigogTab" data-tab="gigog" onclick="showTab(event)">Gigography</div>
          <div class="tabSelector inactiveTab" id="blogTab" data-tab="blog" onclick="showTab(event)">Blog</div>
        </nav>
        <section class="tabs">
          <section class="tab visibleTab" id="discog">
            <div class="tabContent" hx-get="php/discog.php" hx-trigger="load"></div>
          </section>
          <section class="tab hiddenTab" id="gigog">
            <div class="tabContent" hx-get="php/gigog.php" hx-trigger="load" hx-swap="outerHTML"></div>
          </section>
          <section class="tab hiddenTab" id="blog">
            <div id="blogContainer" class="tabContent" hx-get="php/blog.php" hx-vals="js:{blog_id:getBlogId()}" hx-trigger="load"></div>
          </section>
        </section>
      </section>
    </main>
  </body>
  <script src="js/showTab.js"></script>
</html>
