<h2>Add Discography Entry</h2>
<form hx-post="php/add_discog_entry.php" hx-encoding="multipart/form-data">
    <label for="artist">Artist</label>
    <input type="text" name="artist" id="artist" required />
    <label for="product">Discog Entry</label>
    <input type="text" name="product" id="product" required />
    <label for="year">Year</label>
    <input type="number" name="year" id="year" min="1992" max="{{year}}" step="1" value="{{year}}" />
    <input type="hidden" name="clips" />
    <label for="notes">Notes</label>
    <input type="text" name="notes" id="notes" />
    {{#roles}}
    <div class="rolesGrid">
        <label for="{{role}}">{{role}}</label>
        <input type="checkbox" id="{{role}}" value="{{role_id}}" name="role[]">
    </div>
    {{/roles}}
    <label for="cover_file">Cover Art</label>
    <input type="file" name="cover_file" id="cover_file" />
    <label for="cover_art">Filename</label>
    <input type="text" name="cover_art" id="cover_art" />
    <label for="itunes_link">iTunes Link</label>
    <input type="text" name="itunes_link" id="itunes_link" />
    <label for="spotify_link">Spotify Link</label>
    <input type="text" name="spotify_link" id="spotify_link" />
    <input type="submit" value="Add Discog Entry" />
</form>
