{{#status}}
    <h2 class="status">{{status}}</h2>
{{/status}}
{{>date_band_form}}
<form hx-post="/private/php/insert_new_show.php" id="showsForm">
    <div class="separator">
        <div id="showFieldsets"></div>
        <button id="addShow" type="submit" hx-get="/private/php/new_show_fieldset.php" hx-vals='{"fieldset": "{{next_fieldset}}"}' hx-swap="outerHTML">Add Another Show!!</button>
    </div>
    <input type="submit" value="Save Shows">
</form>
