{{#result}}<h2>{{result}}</h2>{{/result}}
<form hx-post="/private/php/insert_new_band.php">
    <label for="band_name">Add new band to database</label>
    <input type="text" name="band_name" id="band_name" placeholder="band name">
    <input type="submit" value="Add Band">
</form>