<h3 class="audioTitle">{{blog_audio_title}} by {{blog_audio_artist}}</h3>
<audio
        controls
        controlsList="nodownload"
        src="{{url}}"
        preload="none"
        type="audio/mpg">
                Sadly your browser doesn't support the audio element
</audio>
<p>{{blog_audio_note}}</p>