
<section class="tabHeader">
    <h1>Nigel Powell - Discography</h1>
    <div class="imageContainer">
        <img src="assets/web/images/nigelStudio.jpeg" alt="Nigel Powell in Maida Vale Studios, London" />
    </div>
    <p class='tabText'>Here's a fairly full of list of the albums and other recordings I've played on or produced or been otherwise involved with over time</p>
</section>
<div class="clear"></div>
<section class="discog">
    {{#.}}
        {{>discog_lazy}}
    {{/.}}
</section>

<script src="/js/audioPlay.js"></script>