    <div>{{date}}</div>
    <div popovertarget="notes_{{show_id}}">{{#event}}{{event}}, {{/event}}{{{venue}}}, {{city}}</div>
    <div class="filter" hx-get="php/gigog.php?filter_country={{country_id}}" hx-target="main" hx-swap="innerHTML" hx-include="[name='filter_band'], [name='search']">
        {{country_name}}
    </div>
    <div class="filter" hx-get="php/gigog.php?filter_band={{band_id}}" hx-target="main" hx-swap="innerHTML" hx-include="[name='filter_country'], [name='search']">
        {{band_name}}
    </div>

    <div popover id="notes_{{show_id}}">{{notes}}</div>