{{#stats}}{{>stats}}{{/stats}}
{{>filters}}
{{#shows}}
    <article id="gigogRow{{show_id}}" class="gigog-row loading" hx-get="php/gigog_entry.php?show_id={{show_id}}&row_num={{row_num}}" hx-trigger="intersect" hx-swap="outerHTML">
        <div>{{row_num}}</div>
        <div id="show_details_{{show_id}}"></div>
    </article>
{{/shows}}
