<figure class="{{float}}"><figcaption class="imgTitle">{{blog_image_title}}</figcaption>
    <img src="{{thumbpath}}" alt="{{blog_image_title}}" {{size_string}} style="aspect-ratio: {{aspect_ratio}}; background-image: url({{thumbpath}})" />
<figcaption class="imgNotes">{{blog_image_credit}}</figcaption></figure>