input,
select,
textarea {
  display: block;
}

main {
  height: fit-content;
}

.separator {
  border-bottom: 1px solid white;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}

fieldset {
  padding: 0.8em;
  margin-bottom: 1em;
}
