input,
select,
textarea {
  display: block;
}

input {
  width: 100%;
}

select {
  width: clamp(10em, fit-content, 20em);
}

input[type='submit'] {
  width: clamp(10em, 15em, 20em);
}

section {
  width: clamp(20em, 40vw, 80%);
}

main {
  height: fit-content;
}

.separator {
  border-bottom: 1px solid white;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}

fieldset {
  padding: 0.8em;
  margin-bottom: 1em;
}

.rolesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  border-bottom: 1px solid grey;
  padding: 0.5em;
}
