<div id="dateBandForm" hx-swap-oob="innerHTML" class="separator">
    <script defer src="/private/js/updateNewShowForm.js"></script>

    <label for="dateSelect">Select a start date for new entries</label>
    <input type="date" name="startDate" id="dateSelect" data-update="date" />
    <label for="countrySelect">Select a country for new entries</label>
    <select id="countrySelect" data-update="country">
        {{#countries}}
            {{>country_option}}
        {{/countries}}
    </select>
    <label for="bandSelect">Select a band for new entries</label>
    <select id="bandSelect" data-update="band">
        {{#bands}}
            {{>band_option}}
        {{/bands}}
    </select>
</div>