<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/base_style.css" />
    <link rel="stylesheet" href="styles/admin.css" />
    <script src="../lib/htmx.min.js"></script>
    <title>TSSC Admin</title>
  </head>
  <body>
    <main>
      <section id="dateBandForm" hx-swap-oob="innerHTML" class="separator"></section>
      <section id="newShowForm" class="separator" hx-get="/private/php/new_show_form.php" hx-trigger="load"></section>
      <section class="separator" hx-get="/private/php/new_band_form.php" hx-trigger="load"></section>
    </main>
    <script defer src="/private/js/removeShow.js"></script>
    <script defer src="/private/js/updateNewShowForm.js"></script>
  </body>
</html>
