<div class="removeFilter" hx-get="php/gigog.php?remove_filter=band" hx-target="main" hx-swap="innerHTML" hx-include="[name='filter_country'], [name='filter_year'], [name='search']">{{filter_band_name}}</div>
