header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 22.5em;
}

.imageContainer {
  object-fit: contain;
  width: calc(100% - 1em);
  max-width: 80vw;
  padding: 0.5em;
  background-color: #222;
  display: flex;
  justify-content: center;
}

.imageContainer img {
  max-width: 80vw;
}

.loading {
  height: 50vh;
}

.discog {
  width: clamp(40em, 80vw, 100em);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.card {
  width: clamp(20em, 30vw, 500px);
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid var(--card-outline);
  animation-duration: 1s;
}

.card:nth-child(odd) {
  background-color: var(--card-bg-odd);
  animation-name: slideinRight;
}

.card:nth-child(even) {
  background-color: var(--card-bg-even);
  animation-name: slideinLeft;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  font-size: 0.9em;
  border-bottom: 1px solid;
}

p.notes {
  font-family: monospace;
  font-size: 0.8em;
}
